[phases.setup]
nixPkgs = ["python311", "gcc", "gfortran", "make", "zlib", "libffi", "openssl"]

[phases.install]
cmds = [
    "python -m pip install --upgrade pip",
    "pip install -r requirements.txt"
]

[phases.build]
cmds = []

[start]
cmd = "uvicorn app.main:app --host 0.0.0.0 --port $PORT"